<p>We are about to inform the service provider that they have received an unfavorable rating. At The Neighbor Network, we know ultimately our consumers want to have a great experience with the service provider. This is why we are giving them 2 days to make things right with you. If in two days, they do not change your mind, we will publish your rating automatically. However, if they turn your opinion around, please come back and change dislike to like. Here at the Neighbor Network, we want to keep business in our own neighborhoods, and keep our service providers and customers happy. Sincerely, the Neighbor Network.</p>



<a href="/service1">Go Back to Search Result</a>