
    <div class="row">
     <div class="container">
      <div class="boxs">        
        <div class="col-md-6">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">
            <div class="align-center">
              <h4><a href="/search">Find A Service</a></h4>          
              <div class="icon">

                <a href="/search"><i class="fa fa-search fa-5x"></i></a>

              </div>
              <p>
               Service providers in your neighborhood
              </p>
              <div class="ficon">
                <!--<a href="" alt="">Learn more</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.3s">
            <div class="align-center">
              <h4><a href="/addService">Add a Service</a></h4>       
              <div class="icon">

                <a href="/addService"><i href="/addService" class="fa fa-plus fa-5x"></i></a>

              </div>
              <p>
               Would you like to be listed as a service provider?
              </p>
              <div class="ficon">
               <!-- <a href="" alt="">Learn more</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
   </div>