   <div class="container">
    <div class="row">
      <div class="boxs">        
        <div class="col-md-6">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">
            <div class="align-center">
              <h4>Find A Service</h4>          
              <div class="icon">
                <i class="fa fa-heart-o fa-3x"></i>
              </div>
              <p>
               Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
              </p>
              <div class="ficon">
                <a href="../search.handlebars" alt="">Learn more</a> 
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.3s">
            <div class="align-center">
              <h4>Add a Service</h4>       
              <div class="icon">
                <i class="fa fa-desktop fa-3x"></i>
              </div>
              <p>
               Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
              </p>
              <div class="ficon">
                <a href="../service.handlebars" alt="">Learn more</a> 
              </div>
            </div>
          </div>
        </div>
