<h1>Search for Service</h1>


<form action="/service" method="POST">
<select data-placeholder="" class="userInput" name="serviceId">
<option value="">Select Service Category</option>
 {{#each services}}
      
      <option value="{{this.dataValues.serviceId}}">{{this.dataValues.serviceName}}</option>
            
  {{/each}}
</select>
<br><br>

<button type="submit" class="btn btn-lg btn-default" >Search</button>

<!-- <br><br>
<button type="submit" class="btn btn-lg btn-default" id="searchButton">Search</button> -->
</form>
