<div class="row">
<div class="container">
  <div class="boxs">  
  <div class="col-md-12">
      <div class="wow bounceIn text-center" data-wow-offset="0" data-wow-delay="0.8s">
          <h2 style="color: #f7b733">. . . SORRY . . .</h2>
          <h2 style="color: #f7b733">An Error has occured. Please try again.</h2>
          
          <div class="icon" style="margin-top: 100px; padding: 30px;">
             <a href="/landing" title="Go back to search"><i class="fa fa-home fa-3x"></i></a>
             <br><br><a href="/landing">Back to Home</a>

          </div>

          
      </div>
    </div>
  </div>
</div>
</div>