
<h1 class="text-center" style="color: #f7b733">Contact Service Provider</h1>
<br><br>

<p class="text-center">Thank you for taking interest in the service that your neighbor offers. The Neighbor Network will inform the service provider of your message via email that will contains your email address on file. The service provider will contact you back through your email.</p>
<br>
<form action="/sendMessage" method="POST">
            <div class="form-group">
                <label for="emailSubject">Subject</label>
                <input type="subject" class="form-control" id="emailSubject" name="subject" placeholder="Subject">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Message</label>
                <textarea class="form-control" rows="10" id ="emailBody" name="emailBody" placeholder="Enter your message here"></textarea>
            </div>
            <input type ="hidden" name="receiverEmail" value="{{receiverInfo.receiverEmail}}">
            
<button type="submit" class="btn btn-lg btn-default" >SEND</button>
</form>
